<section class="art-item">
    {% if item.data.title %}
        <h2 class="art-title">{{ item.data.title }}</h2>
    {% endif %}
    {%include 'components/tags.njk'%}
    <div class="art-content">
        {{ item.content | safe }}
    </div>
    <div class="art-credit">
        <p>
            -
            {% if item.data.url %}
                <a href="{{ item.data.url | url }}">{{ item.data.author }}</a>
            {% else %}
                {{ item.data.author }}
            {% endif %}
        </p>
    </div>
    <hr>
</section>