<footer>
    <div class="footerlinks">
        {% for link in footer.links %}
            <li class="footerlink">
                <a {% if link.nsfw %} class="nsfw" {% endif %} href="{{ link.url }}">{{ link.name }}</a>
            </li>
        {% endfor %} {% if link.nsfw %}
                    class="nsfw"
                {% endif %}
    </div>
    <div id="buttons"></div>
    <div id="blinkies"></div>
    <script src="/scripts/footergifs.js"></script>

</footer>