<footer>
    <div class="footerlinks">
        {% for link in footer.links %}
        <li class="footerlink">
            <a href="{{ link.url }}">{{ link.name }}</a>
        </li>
        {% endfor %}
    </div>
    <div id="buttons"></div>
    <div id="blinkies"></div>
</footer>

<script>
    const blinkies = {{ footer.blinkies }}
    const buttons = {{ footer.buttons }}
    const amountShown = 10;
    //
    function makeImages(list, id, tag) {
        var shuffled = list.sort(() => 0.5 - Math.random());
        shuffled = shuffled.slice(0, amountShown);
        var container = document.getElementById(id)
        //
        shuffled.forEach((filename) => {
            const image = document.createElement('img');
            image.classList.add(tag);
            image.src = filename;
            container.appendChild(image);
        })
    }

    //
    //
    function main() {
        makeImages(blinkies, "blinkies", "blinkie")
        makeImages(buttons, "buttons", "button")
    } //

    if (typeof "addRVLoadEvent" != "function")
        function addRVLoadEvent(funky) {
            var oldonload = window.onload;
            if (typeof oldonload != "function") {
                window.onload = funky;
            } else {
                window.onload = function () {
                    if (oldonload) {
                        oldonload()
                    }
                    funky();
                }
            }
        }

    addRVLoadEvent(main);
</script>