<div class="newspost">
    <h2 class="news-title">
        <a href="{{ post.url | url }}">{{ post.data.title if post.data.title else site.title }}</a>
    </h2>
    <div class="news-subheading">
        <ul class="news-info">
            <li>Reading time: {{post.content  | emojiReadTime}}</li>
            <li>created: {{ post.date }}</li>
        </ul>
    </div>
    <details class="news-description">
       <summary><b> {{ post.data.description | safe }}</b> </summary>
       <hr>
       <article>
       {{post.content | safe}}
       </article>
    </details>
</div>