<div class="newspost">
    <h3 class="news-title">
        <a href="{{ post.url | url }}">{{ post.data.title if post.data.title else site.title }}</a>
    </h3>
    <div class="news-subheading">
        <ul>
            <li>Reading time: {{post.content  | emojiReadTime}}</li>
            <li>created: {{ post.date }}</li>
        </ul>
    </div>
    <details class="news-description">
       <summary> {{ post.data.description | safe }} </summary>
       {{post.content | safe}}
    </details>
</div>