{% set first = pagination.pageNumber == 0%}
{%set last = pagination.pageNumber == pagination.pages.length - 1%} 

{% if first %}
  first
  <span class="next">
    <a href="{{ pagination.href.next }}">--&gt;</a>
  </span>
{% elif last %}
<span class="prev">
    <a href="{{ pagination.href.previous }}">&lt;--</a>
  </span>
  last
  {%else%}
  <span class="prev">
    <a href="{{ pagination.href.previous }}">&lt;--</a>
  </span>
  {{pagination.pageNumber}}
  <span class="next">
    <a href="{{ pagination.href.next }}">--&gt;</a>
  </span>
{% endif %}
