<section id="{{scene.id}}" class="dddsim-scene">

    <div class="dddsim-options-button"></div>

    <div class="dddsim-characters">
        <img src="/images/projects/dddsim/backgrounds/intro-carriage.png" alt="">
        <div class="dddsim-characters-sprites">
            <img src="/images/projects/dddsim/characters/dismas/neutral.webp" alt="PLEACEHOLDER SPRITE 1">
            <img src="/images/projects/dddsim/characters/dismas/neutral.webp" alt="PLEACEHOLDER SPRITE 2">
        </div>
    </div>

    <div class="dddsim-talkbox">
        <div class="dddsim-talkbox-nametag">Dismas</div>
        <div class="dddsim-talkbox-area"><p>"[TALKING PLACEHOLDER]"</p> </div>
        <div class="dddsim-talkbox-nextbutton"></div>
    </div>

    
</section>