---
permalink: /scripts/dddsim-gamedata.js
---

var PlayerState = {{ projects.dddsim.gamedata.playerstate | dump | safe }}; //overridable
PlayerState.settings = Object.keys(PlayerState.settings).reduce((acc, key) => {
acc[key] = PlayerState.settings[key].value;
return acc;
}, {});
const PlayerState_Defaults = {{ projects.dddsim.gamedata.playerstate | dump | safe }}; // not overridable
const Characters = {{ projects.dddsim.gamedata.characters | dump | safe }}
const Bgs = {{ projects.dddsim.gamedata.backgrounds | dump | safe }}
const Story =  {{ projects.dddsim.chapters | dump | safe }};
const GAME_VERSION = 0
