---
permalink: /scripts/dddsim-gamedata.js
---
const PlayerState = {{projects.dddsim.gamedata.playerstate | dump | safe}};
const Characters = {{projects.dddsim.gamedata.characters | dump | safe}}
const Bgs = {{projects.dddsim.gamedata.backgrounds | dump | safe}}


const Story =  {{projects.dddsim.chapters | dump | safe}};

const GAME_VERSION = 0