---
permalink: /scripts/dddsim-gamedata.js
---
const PlayerState = {{projects.dddsim.gamedata.PlayerState | dump | safe}};
const Characters = {{projects.dddsim.gamedata.Characters | dump | safe}}
const Bgs = {{projects.dddsim.gamedata.Bgs | dump | safe}}


const Story =  {{projects.dddsim.chapters | dump | safe}};