---
permalink: /scripts/footergifs.js
---

const blinkies = [{% for image in footer.blinkies %}"{{ image }}",{% endfor %}];
const buttons = [{% for image in footer.buttons %}"{{ image }}",{% endfor %}];
//
function makeImages(list, id, tag, amount) {
    var shuffled = list.sort(() => 0.5 - Math.random());
    shuffled = shuffled.slice(0, amount);
    var container = document.getElementById(id)
    //
    shuffled.forEach((filename) => {
        const image = document.createElement('img');
        image.classList.add(tag);
        image.classList.add("freezeframe") //used in freezergifjs 
        image.src = filename;
        container.appendChild(image);
    })
}
//
//
function main() {
    makeImages(blinkies, "blinkies", "blinkie", 5)
    makeImages(buttons, "buttons", "button", 10)
} //

if (typeof "addRVLoadEvent" != "function")
  function addRVLoadEvent(funky) {
    var oldonload = window.onload;
    if (typeof oldonload != "function") window.onload = funky;
    else
      window.onload = function () {
        if (oldonload) oldonload();
        funky();
      };
  }

main()
