---
title: "poisoned... with love!"
nsfw: true
layout: layouts/stripgame.njk
name: "strip audrey too!"
description: 'happy valentines *darling* :3'
character: 'audrey'
---

<div class='disclaimer'>
    <p>Hi the system of this poc has grown considerably, but hey, now youve got audrey too! go figure!</p>
    <p>she definitely can be yuor devil!</p>

</div>

<button id='sort-button' class = "unlockable-button" onClick = 'sort()'> sort </button>  <button id='undress-button' class = "unlockable-button" onClick = 'undress()'> undress! </button>

<div id='draggable-image-container'></div>

<script>
    start()
</script>

<details>
    <summary>
        <h3> UPDATE LOG:<h3>
    </summary>
    <hr>
    <article>
        <b>09-02-2024:</b>
        <p>base audrey exists!</p>
        <b>15-02-2024:</b>
        <p>pt1. of valentines double feature... the red hot devil!</p>
    </article>
       <hr>
</details>

<a href='/minigames'> &lt;-- go back</a>