---
title: "omg the highwayman!"
nsfw: true
layout: layouts/stripgame.njk
name: "strip dismas!"
description: 'first test of minigames, with dismas from darkest dungeon! a bit of a reverse spin on the dress-up genre, call this a dismas dress-down, or ddd for short :3'
character: 'dismas'
---

<div class='disclaimer'>
    <p>Hi this is a small proof of concept that was hellish to make, a dress down game of stripping dismas of darkest dungeon fame!</p>
    <p>it probably will be wonky on some browsers (that dont suport the css clip-path property) and will suck ass on mobile phones, cuz i got super tired of just making the draggable api work</p>
    <p>it goes without saying its nsfw... but for all adults in the audience, enjoy!</p>

</div>

<button id='sort-button' class = "unlockable-button" onClick = 'sort()'> sort </button>  <button id='undress-button' class = "unlockable-button" onClick = 'undress()'> undress! </button>

<div id='draggable-image-container'></div>

<script>
    start()
</script>

<details>
    <summary>
        <h3> UPDATE LOG:<h3>
    </summary>
    <hr>
    <article>
        <b>18-01-2024:</b>
        <p>UPDATE: definitely not working on mobile, do go on pc for that</p>
        <p>UPDATE: extras added! might need some... exploring</p>
        <b>19-01-2024</b>
        <p>random barks while you undress him</p>
        <b>22-01-2024</b>
        <p>barks are animated similarly to dd now!</p>
        <p>maybe it works on mobile.idk, gotta push it first</p>
        <b>05-02-2024</b>
        <p>made dismas dick more... well less inflamed</p>
        <p>runaway/maid outfits added + some extra ones</p>
        <p>also convenience buttons!</p>

    </article>
       <hr>
</details>

<a href='/minigames'> &lt;-- go back</a>