---
title: "omg the highwayman!"
nsfw: true
layout: layouts/stripgame.njk
name: "strip dismas!"
description: 'first test of minigames, with dismas from darkest dungeon! a bit of a reverse spin og the dress-up genre, call this a dismas dress-down, or ddd for short :3'
---

<div class='disclaimer'>
    <p>Hi this is a small proof of concept that was hellish to make, a dress down game of stripping dismas of darkest dungeon fame!</p>
    <p>it probably will be wonky on some browsers (that dont suport the css clip-path property) and will suck ass on mobile phones, cuz i got super tired of just making the draggable api work</p>
    <p>it goes without saying its nsfw... but for all adults in the audience, enjoy!</p>
    <p>UPDATE: definitely not working on mobile, do go on pc for that</p>
    <p>UPDATE: extras added! might need some... exploring</p>
</div>

<div id='draggable-image-container'></div>

<script>
    start()
</script>

<a href='/minigames'> &lt;-- go back</a>