---
title: "indescriminate... science?"
nsfw: true
layout: layouts/stripgame.njk
name: "strip para too!"
description: 'happy valentines *my favorite experiment* :3... honestly you know the drill by now'
character: 'paracelsus'
---

<div class='disclaimer'>
    <p>valentines angle... of the more devilish variety!</p>

</div>

<button id='sort-button' class = "unlockable-button" onClick = 'sort()'> sort </button>  <button id='undress-button' class = "unlockable-button" onClick = 'undress()'> undress! </button>

<div id='draggable-image-container'></div>

<script>
    start()
</script>

<details>
    <summary>
        <h3> UPDATE LOG:<h3>
    </summary>
    <hr>
    <article>
        <b>15-02-2024:</b>
        <p>base para added!</p>
        <p>all para outfits added honestly i need to move on creatively tbh!</p>
        <p>thanks Elodie for helping me with the barks! keep it stabby &lt;</p>
    </article>
       <hr>
</details>

<a href='/minigames'> &lt;-- go back</a>