{%extends 'layouts/base.njk'%}

{%block head%}
  {{ super() }}

  <link rel="stylesheet" href="/css/dddsim.css">

  {%endblock%}

  {%block toggles%}{%endblock %}

  {%block body%}

    {{super()}}

    {%endblock%}

    {% block footer %}{% endblock %}