{%extends 'layouts/base.njk'%}

{%block head%}
  {{ super() }}

  <link rel="stylesheet" href="/css/dddsim.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script type="text/javascript" src="/scripts/dddsim-util.js"></script>
  <script type="text/javascript" src="/scripts/dddsim-gamedata.js"></script>
  <script type="text/javascript" src="/scripts/dddsim-ui.js"></script>

  {%endblock%}

  {%block toggles%}{%endblock %}

  {%block body%}

    {{super()}}

    {%endblock%}

    {% block footer %}{% endblock %}