<!DOCTYPE html>
<html lang="{{ site.language }}">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{{ title if title else about.title }}</title>
             <link rel="stylesheet" href="{{ '/css/style.css' | url | safe }}">
                        {% favicons './src/favicon.png', appleIconBgColor='#123' %}
            {% if css %}
                <link rel="stylesheet" href="{{ css | url | safe }}">
            {% endif %}

            <script type="text/javascript" src="/scripts/toggles-persistent.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="content">
            {% block header %}
                {% include "components/header.njk" %}
            {% endblock %}
            {% block body %}
            <div class="toggles">
                {%include 'components/dark-mode-toggle.njk'%}
                 {%include 'components/dyslexic-font-toggle.njk'%}
            </div>
                <main class="main container">
                    {{ content | safe }}
                </main>
            {% endblock %}
            
            {% block footer %}
            <hr>
                {% include "components/footer.njk" %}
            {% endblock %}
        </div>
    </body>
</html>