{%extends 'layouts/base.njk'%}
{%set category = artlinks.images[images]%}

{% block body %}

    <section class="gallery-container ">
        <h2>{{category.title}}</h2>
        <p>
            {{category.description}}</p>
        <div class="three-columns">
            {%asyncEach image in category.images%}
                <div class="gallery-item three-columns-item">
                    
                    {% EleventyImage image.source, image.alt, "100vw", "generated" %}
                </div>
                {%endeach%}

            </div>
        </section>
    {% endblock %}