{%extends 'layouts/base.njk'%}

{%block head%}
  {{ super() }}
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/opencv.js"></script>

  <script src="/scripts/stripgame.js"></script>

{% endblock %}

{%block body%}

  <style>
    #draggable-image-container {
      width: 100vw;
      /* Adjust based on your image size */
      height: 900px;
      margin: 0;
      padding: 0;
      position: relative;
    }

    .image {
      position: absolute;
      height: 850px;
      width: auto;

    }

    #base-undress,
    .wardrobe {
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }

    #base-undress,
    .initial-draggable {

      left: 600px;
    }

    .extra-draggable {
      top: 0;
      left: 900px;
    }

    .draggable-image {
      z-index: 1;
      cursor: grab;

      .wardrobe {
        height: 1000px;
        width: auto;
        top: -100px;
        z-index: -1;
        left: 50px;
      }
    }
  </style>

  {{super()}}

  {%endblock%}