{%extends 'layouts/base.njk'%}

{%block head%}
  {{ super() }}
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/opencv.js"></script>

  <style>

    @font-face {
      font-family: "Ubuntu-Regular";
      src: url("/fonts/ubuntu-regular.woff") format("woff");
    }

    #draggable-image-container {
      width: 100vw;
      /* Adjust based on your image size */
      height: 900px;
      margin: 0;
      padding: 0;
      position: relative;
    }

    #bubble-container {
      position: absolute;
      left: 930px;
      top: 10px;
    }

    #bubble-text {
      position: absolute;
      top: 0;
      left: 0;
      
      height: 100%;
      margin: 0;
      margin-left: 75px;
      margin-right: 20px;

      font-family: "Ubuntu-Regular", sans-serif !important;
      font-size: 25px;
      color: white;
      line-height: 35px;
      overflow-wrap: normal;

      display: flex;

      align-items: center;
      text-align: left;
    }

    #bubble-image {
      display: block;
      width: 100%;
      height: auto;
    }

    .image {
      position: absolute;
      height: 850px;
      width: auto;

    }

    #base-undress,
    .wardrobe {
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }

    #base-undress,
    .initial-draggable {

      left: 530px;
    }

    .extra-draggable {
      top: 0;
      left: 900px;
    }

    .draggable-image {
      z-index: 1;
      cursor: grab;

    }
  </style>

{% endblock %}

{%block body%}

  <script>
    const STANDARD = [{% for image in minigames.stripgame[character].standard %}"{{ image }}",{% endfor %}];
    const EXTRAS = [{% for image in minigames.stripgame[character].extras %}"{{ image }}",{% endfor %}];
    const BASE = '{{minigames.stripgame[character].base}}'
    const SPEECH = [{% for bark in minigames.stripgame[character].speech %}"{{ bark  }}",{% endfor %}];

    const WARDROBE = '{{minigames.stripgame.common.wardrobe}}'
    const BUBBLE = '{{minigames.stripgame.common.bubble}}'
  </script>
  <script src="/scripts/stripgame.js"></script>

  {{super()}}

  {%endblock%}