{%extends 'layouts/base.njk'%}

{% block header %}
                
            {% endblock %}
            {% block body %}

            {{content | safe}}
            {% endblock %}

            {% block footer %}
 
            {% endblock %}