{%extends 'layouts/base.njk'%}

{% block header %}
                
            {% endblock %}
            {% block body %}
           <a href='/home'>go in</a>
            {% endblock %}

            {% block footer %}
 
            {% endblock %}