---

title: "NEVER FOR ME!"
css: "/css/am-shrine.css"
name: "allied mastercomputer shrine"
description: "nice, pacifistic, gentle and human - none of those words heve ever been used to describe the ALLIED MASTERCOMPUTER"
---

<br>
    ALLIED MASTERCOMPUTER SPEKTOR SHRINE!<br>