:root {
	--cursor-normal: url(/images/projects/dddsim/ui/arrow.png);
	--cursor-pointer: url(/images/projects/dddsim/ui/arrow.png);

	--color-gold: #887849;
	--color-yellow: #dbb74f;
	--color-save-yellow: #c8b46e;
	--color-placeholder-input: #494744;
	--color-save-grey: rgb(177, 174, 167);
}

@font-face {
	font-family: "Ubuntu-Regular";
	src: url("/fonts/ubuntu-regular.woff") format("woff");
}

@font-face {
	font-family: "Ubuntu-Mono-Regular";
	src: url("/fonts/ubuntu-mono-regular.woff") format("woff");
}

@font-face {
	font-family: "Dwarvenaxe";
	src: url("/fonts/dwarvenaxe.woff") format("woff");
}

/*styling scenes----------------------------------------------*/

#dddsim-container {
	display: flex;
	width: 98vw;
	height: 95vh;
	flex-direction: column;
	justify-content: flex-start;

	background-color: black;
}

.dddsim-main-title {
	font-family: "Dwarvenaxe", sans-serif !important;
	font-size: 6rem;
	font-weight: normal;
	-webkit-text-stroke: 2px black;

	position: absolute;
	top: 30%; /* position the top  edge of the element at the middle of the parent */
	left: 50%; /* position the left edge of the element at the middle of the parent */

	transform: translate(-50%, -50%);
	text-wrap: nowrap;
	overflow: visible;

	z-index: 50;
}

.dddsim-scene {
	position: relative;
	height: 89vh;
}

.dddsim-options-button {
	background-image: url(/images/projects/dddsim/ui/menu_button.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	position: absolute;
	left: 0;
	top: 0;

	height: 50px;
	width: 50px;

	z-index: 60;
}

.dddsim-panel {
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	margin-left: auto;
	margin-right: auto;

	height: 50%;
	width: fit-content;
}

.close-modal-button {
	background-image: url(/images/projects/dddsim/ui/close_button_round.png);

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 5%;
	width: 5%;

	position: absolute;

	right: calc(8% + (8% / 100));
	top: calc(11% + (11% / 19));
}
#popup {
	background-image: url(/images/projects/dddsim/ui/popup_panel.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	height: calc(50vw / 1.4);
	width: 50vw;

	z-index: 70;
}
.dddsim-saves-area {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;

	background-image: url(/images/projects/dddsim/ui/saves_panel.png);
	background-size: 100% 100%;
	background-position: center;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70vw; /* Adjust as needed */
	height: calc(70vw / 1.6); /* Maintain 1.4 aspect ratio */

	z-index: 60;
}

.dddsim-saves-area * {
	color: var(--color-save-yellow);
}

.dddsim-saves-area[data-mode="load"] > h3::after {
	content: "Load Save";
}

.dddsim-saves-area[data-mode="save"] > h3::after {
	content: "New Save";
}

.dddsim-saves-area > h3 {
	font-family: "Dwarvenaxe", sans-serif;
	font-weight: normal;
	font-size: 230%;
	position: absolute;
	left: 13%;
	top: 16%;
}

.dddsim-saves-container {
	position: absolute;

	width: 78%;
	height: 70%;
	left: 10%;
	top: 25.5%;

	overflow-y: scroll;
	overflow-x: hidden;
	/* This sets the size of the scrollbar to 16px wide */
	scrollbar-width: 16px; /* Standard for Firefox and others */
}

@supports (-moz-appearance: none) {
	.dddsim-saves-container {
		scrollbar-color: #cf2400 #171717; /* thumb and track colors for browsers that support it */
	}
}

.dddsim-saves-container::-webkit-scrollbar:hover {
	cursor: var(--cursor-pointer), auto;
}

/* Chrome, Edge, Safari and other WebKit/Blink browsers */
.dddsim-saves-container::-webkit-scrollbar {
	width: 0.6vw; /* width of the scrollbar */
}

.dddsim-saves-container::-webkit-scrollbar-track {
	background: url("/images/projects/dddsim/ui/scroll_gutter.png") repeat-y; /* Tiled image on the y axis */
	background-color: #171717; /* fallback color if the image is not loaded */
	background-size: contain;
	border: 1px solid #090909; /* border around the track */
}

.dddsim-saves-container::-webkit-scrollbar-thumb {
	background-color: #464646; /* color of the thumb */
	border-radius: 25px;
	width: 15px;
}

.dddsim-saves-container::-webkit-scrollbar-button {
	height: 5px; /* height of the arrow image */
	background-size: contain;
}

.dddsim-saves-container::-webkit-scrollbar-button:vertical:decrement {
	background-image: url("/images/projects/dddsim/ui/scroll_arrow_top.png"); /* turned arrow for the top */
}

.dddsim-saves-container::-webkit-scrollbar-button:vertical:increment {
	background-image: url("/images/projects/dddsim/ui/scroll_arrow_down.png"); /* normal arrow for the bottom */
}

.dddsim-save-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	position: relative;

	width: 100%;
	height: 25%;
	margin-bottom: 1%;
}

.dddsim-save-wrapper.inactive {
	pointer-events: none;
}

.dddsim-save-wrapper:last-child() {
	margin-bottom: 0;
}

.dddsim-saves-area[data-mode="load"] .dddsim-save-wrapper[data-save="empty"] {
	display: none;
}

.dddsim-save-background {
	background-image: url(/images/projects/dddsim/ui/saveslot.png);
	background-size: 100% 100%;
	width: 75%;
	height: 100%;

	position: relative;
}

.dddsim-save-wrapper:hover .dddsim-save-background,
.dddsim-save-background:hover,
.dddsim-save-wrapper.active .dddsim-save-background {
	background-image: url(/images/projects/dddsim/ui/saveslot_hovered.png);
}

.dddsim-save-preview {
	background-size: 100% 100%;
	background-position: center;

	width: 6.5vw;
}

.dddsim-save-wrapper[data-save="empty"] .dddsim-save-preview {
	background-image: url(/images/projects/dddsim/ui/empty_save.png);

	height: calc(6.5vw / 1.31);
}

.dddsim-save-wrapper[data-save="empty"]:hover .dddsim-save-preview,
.dddsim-save-wrapper[data-save="filled"] .dddsim-save-preview,
.dddsim-save-wrapper[data-save="empty"].active .dddsim-save-preview {
	background-image: url(/images/projects/dddsim/ui/filled_save.png);
	height: calc(6.5vw / 0.934);
}

.dddsim-saves-area[data-mode="save"] .load-save-button {
	display: none;
}

.save-name-input {
	all: unset;
	position: absolute;

	font-family: "Dwarvenaxe", sans-serif;
	font-size: 175%;

	color: var(--color-save-yellow) !important;

	top: 27%;
	left: 5%;
	width: 66%;
	height: calc(48% * 0.75);
	transform: scaleY(1.25);

	padding: 1%;
	padding-left: 3.4%;
}

.dddsim-saves-area[data-mode="load"] .save-name-input {
	pointer-events: none;
}

.dddsim-save-wrapper[data-save="empty"] .dddsim-save-info-container {
	visibility: hidden;
}

.dddsim-save-info-container {
	position: absolute;
	top: 0;
	left: 76%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100%;
}

.dddsim-save-info-container > p {
	margin: 0;
	padding: 0;
	color: var(--color-save-grey) !important;
}

.save-name-input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: var(--color-placeholder-input) !important;
}
.save-name-input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: var(--color-placeholder-input) !important;
}
.save-name-input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: var(--color-placeholder-input) !important;
}
.save-name-input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--color-placeholder-input) !important;
}
.save-name-input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--color-placeholder-input) !important;
}

.save-name-input::placeholder {
	/* Most modern browsers support this now. */
	color: var(--color-placeholder-input) !important;
}

.save-name-input:focus,
.save-name-input:focus-within {
	outline: none;
	color: var(--color-save-yellow) !important;
}

.dddsim-save-button {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 30%;

	width: 4%;
}

.dddsim-save-wrapper[data-save="empty"] .delete-save-button {
	visibility: hidden;
}

.dddsim-save-wrapper.active .delete-save-button {
	visibility: visible;
}

.delete-save-button {
	background-image: url(/images/projects/dddsim/ui/close_button.png);
}

.dddsim-save-wrapper:not(.active) .confirm-save-button {
	visibility: hidden;
}

.confirm-save-button {
	background-image: url(/images/projects/dddsim/ui/ok_button.png);
}

.dddsim-choice-area {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	z-index: 60;
}

.dddsim-choice-button {
	padding: 1rem 2rem;

	font-family: "Dwarvenaxe", sans-serif !important;
	font-size: 3rem;
}

.dddsim-characters {
	background-image: url(/images/projects/dddsim/backgrounds/placeholder.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	width: 100%;
	height: 100%;
}

.dddsim-characters-sprites {
	position: absolute;
	right: 0;
	left: 0;
	width: 80%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-end;

	margin-left: auto;
	margin-right: auto;
}

.dddsim-sprite {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	height: 100%;
	width: 35%;
}

.dddsim-sprite:not(.talking) {
	height: 90%;
	filter: brightness(0.8);
}

.dismas-neutral {
	background-image: url(/images/projects/dddsim/characters/dismas/neutral.png);
}

.dddsim-talk-area {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 15px;
	margin-left: auto;
	margin-right: auto;

	height: calc(100% / 3.56);
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	z-index: 55;
}

.dddsim-talkbox {
	background-image: url(/images/projects/dddsim/ui/talkbox.png);
	background-size: 100% 100%;
	background-position: center;
	height: 200px;
	width: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
}

.dddsim-talkbox-nextbutton {
	background-image: url(/images/projects/dddsim/ui/next_icon.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	bottom: 0;

	height: 50px;
	width: 50px;

	z-index: 50;
}

.dddsim-talkbox-textinput {
	display: flex;
	flex-direction: row;
	align-items: center;

	column-gap: 1rem;
}

.dddsim-talkbox-textinput > button {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	height: 50px;
	width: 50px;
}

#talkbox-text-input {
	color: var(--color-yellow);

	display: block;
	border: none;
	padding: 0;
	width: 22.5ch;
	background: repeating-linear-gradient(90deg, var(--color-gold) 0, var(--color-gold) 1ch, transparent 0, transparent 1.5ch) 0 100%/22ch 2px no-repeat;
	font: 2.5rem "ubuntu-mono-regular", monospace !important;
	letter-spacing: 0.5ch;
}

#talkbox-text-input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: var(--color-gold) !important;
}
#talkbox-text-input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: var(--color-gold) !important;
}
#talkbox-text-input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: var(--color-gold) !important;
}
#talkbox-text-input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--color-gold) !important;
}
#talkbox-text-input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--color-gold) !important;
}

#talkbox-text-input::placeholder {
	/* Most modern browsers support this now. */
	color: var(--color-gold) !important;
}

input#talkbox-text-input:focus,
input#talkbox-text-input:focus-within {
	outline: none;
	color: white;
}

#random-textinput-button {
	background-image: url(/images/projects/dddsim/ui/random_button.png);
}

#confirm-textinput-button {
	background-image: url(/images/projects/dddsim/ui/ok_button.png);
}

.dddsim-talkbox-nametag {
	height: fit-content;
	background-color: black;

	position: absolute;
	top: -1rem;
	left: -2rem;

	padding: 0.5rem 1rem;
	margin: 0;

	font-family: "Dwarvenaxe", sans-serif !important;
	font-size: 2rem;
}

.dddsim-talkbox-area {
	line-height: 3rem;

	padding: 2rem;
	padding-left: 3.5rem;

	overflow: hidden;

	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	justify-content: space-evenly;

	height: 100%;
	width: 100%;
}

.dddsim-talkbox-area > * {
	margin: 0;
	padding: 0;
}

#input-textbox-panel + #line {
	padding-bottom: 0;
}

.dddsim-talkbox-side-menu {
	height: calc(200px - 3%);
	width: fit-content;
}

.dddsim-talkbox-menu-list {
	list-style-type: none;
	list-style-position: inside;

	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	font-size: 1.3rem;
}

.dddsim-talkbox-menu-item {
	font-family: "Dwarvenaxe", sans-serif !important;
	font-size: 1.5rem;

	display: flex;
	justify-content: center;
	align-items: center;

	flex-grow: 1;

	height: fit-content;
}

.dddsim-talkbox-menu-item > p {
	padding: 0 1rem;
	margin: 0;
}

/*ui elements*/

.panel {
	background-image: url(/images/projects/dddsim/ui/small_box.png);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

button {
	background-color: none;
	border: none;

	cursor: var(--cursor-normal), auto;
}

button:active {
	border: none;
	margin: 0;
	filter: brightness(2);
}

/*UTIL=====================================================*/

button.disabled,
button.disabled * {
	cursor: not-allowed !important;
	filter: grayscale(1) brightness(0.5) !important ;
}

.enabled {
	cursor: var(--cursor-pointer), pointer;
}

.enabled:hover {
	filter: brightness(1.6);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 56;

	pointer-events: none;
	backdrop-filter: blur(2px);

}

/*STYLING DEFAULT SITE---------------------------------------------------------*/

body {
	font-family: "Ubuntu-Regular", sans-serif;
	font-size: 1vw;

	height: 100%;
	overflow-y: hidden;

	color: white;
	background-color: black;
}

body * {
	cursor: var(--cursor-normal), auto !important;
}

hr {
	width: 100%;
	color: white;
}

.title {
	display: inline;
	padding: 0;
	margin: 0;
}

.nav-container {
	display: inline-block;
	width: fit-content;
}

.nav-links {
	display: flex;
	flex-direction: row;
	flex-flow: row;
	justify-content: stretch;

	list-style-type: none;
	list-style-position: inside;

	margin: 0;
	padding: 0;
}

.nav-links > li {
	display: inline-block;

	background-color: black;

	border: white 1px solid;

	padding: 0.2rem 0.5rem;
}

.nav-links > li:hover {
	cursor: var(--cursor-pointer), auto;
	filter: brightness(1.5);
}

.nav-link {
	padding: 1rem;
}

.nav-link > a {
	height: 100%;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
}

a:active {
	color: inherit;
}

.toggle {
	display: none !important;
}
