/* CSS Variables */

  html,
  body {
    height: 100%;
  }
  
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    display: flex;
    flex-direction: column;
  }
  
  summary {
    list-style: none;
    cursor: pointer;
  }

  summary::before {
    content: "> ";
    display: inline;
  }

  summary > h1, h2, h3, h4, h5 {
    display: inline;
  }

  .art-content img {
    max-width: 100%;
   }

  @media screen and (min-width: 480px) {
  

 .art-content img {
  max-width: 50%;
 }
  }

 