---
layout: "layouts/projects/dddsim/dddsim-base.njk"
---

<script>
    const chapter = {{projects.dddsim.dummychapter | dump | safe}}
</script>

{%set scene = projects.dddsim.dummychapter.scenes[0]%}

<div id="dddsim-container">
        {% include 'components/dddsim/scene.njk' %}

</div>