---js
{
  pagination: {
    data: "collections.art",
    size: 10,
    addAllPagesToCollections: true,
    before: function(paginationData, fullData) {
      return paginationData.sort(() => Math.random() - 0.5);
    }
  },
  layout: "layouts/base.njk",
}
---

<ul class="art">
  {% for item in pagination.items %}
    <div class="art-box">
      <li>
      {%include  'components/art-card.njk'%}
      </li>
    </div>
  {% endfor %}
</ul>

<div class="art-navigation paging">
  {%include 'components/paging.njk'%}
</div>