---
layout: layouts/base.njk
pagination:
  data: collections.art
  addAllPagesToCollections: true
  size: 10
  reverse: true
permalink: /art/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html

---

<ul class="art">
  {% for item in pagination.items %}
    <div class="art-box">
      <li>
      {%include  'components/art-card.njk'%}
      </li>
    </div>
  {% endfor %}
</ul>

<div class="art-navigation paging">
  {%include 'components/paging.njk'%}
</div>