---
permalink: /humans.txt
---

hey I'm {{about.name}} ({{about.pronouns}})!
I made this site with eleventy + nunjucks, VSCode and using firefox + chromium ungoogled for testing ^^

big thanks for maia.crimew.gay for sharing it's repository and her overall hacking/computer resources 
big thanks for sadgrl.online for making me interested in web design again in 2021

fonts: 
    - opendyslexic (https://github.com/antijingoist/opendyslexic) (OFL) [i used opendyslexic2-regular!]
    - santello (for titles etc) by Aleksei Poteichuk (OFL)
    - https://github.com/odemiral/woff2sfnt-sfnt2woff/tree/master [for making webfonts out of ttfs]