---
title: "what they wrote"
layout: "layouts/base.njk"
pagination:
  data: collections.news
  addAllPagesToCollections: true
  size: 10
permalink: /news/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---

<ol class="news">
  {% for post in pagination.items %}
    <div class="newsbox">
      <li>
      {%include  'components/newspost.njk'%}
      </li>
    </div>
  {% endfor %}
</ol>

<div class="news-navigation">
  <span class="prev"><a href="{{pagination.page.previous}}">&lt;--</a></span>
  {{pagination.pageNumber}}
  <span class="next"><a href="{{pagination.page.next}}">--&gt;</a></span>
</div>