---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  exclude:
  - pages
  - art
permalink: /tagged/{{ tag | slugify}}/
---
<h1>Tagged “{{ tag }}”</h1>

<ol>
{% set taglist = collections[ tag ] %}
{% for item in taglist | reverse %}
  <div class="art-box">
      <li>
      {%include  'components/art-card.njk'%}
      </li>
    </div>
{% endfor %}
</ol>