---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  exclude:
  - pages
  - art
permalink: /tagged/{{ tag | slugify}}/
---

<h2>Tagged “{{ tag }}”</h2>
<ol>
  {% set taglist = collections[ tag ] %}
  {% for item in taglist | sort %}
    <div class="art-box">
      <li>
        {% include  'components/art-card.njk' %}
      </li>
    </div>
  {% endfor %}
</ol>
<details>
  <summary>
    <h3>all tags</h3>
  </summary>
 
  {% for name, content in collections  | dictsort %}
    {% if name not in config.excludedTags%}
     <span class="tag"><a href="/tagged/{{name | slugify}}">{{ name }}</a></span>
    {% endif %}
  {% endfor %}
</details>