---js 
{
    layout : "layouts/base.njk",
    title : "lost in translation",
    pagination : {
        data: "collections.songs",
        size: 10,
        before: function (paginationData, fullData) {
            return paginationData.filter(entry => entry.data.translated).sort((a,b) => {return new Date(b.date) - new Date(a.date);})
        }
    }
}
---
<section class="lower">
    <p>hey have you ever heard a song that was <i>so good</i> that you wanted to show it to everybody you know, but they don't know english? ever want to be the weirdo at karaoke from a parallel universe? filled with unimaginable hubris?</p>
    <p>I am! so here's my attempts at translating sounds and keeping the structure/meaning/vowels/syllabes whatever so it's singable!</p>
    <p>theyre not perfect, there's some repetitive rhymes, but noone is doing it <i>just like me</i> :] so without further ado - here we go!</p>
    <hr>
</section>
{% for song in pagination.items%}
    {% if song.data.translated %}
        {% include 'components/song-sidebyside.njk'%}
    {% endif %}
{% endfor %}


<div class="songs-navigation paging">
    {% include 'components/paging.njk' %}
</div>
<br>

<details >
<summary><h3>Index of all songs:</h3></summary>
    <ol class='songlist-container'>
            {% set sortedSongs = collections.songs | sortSongsByDate %}
       
        {% for song in sortedSongs%}
            {% if song.data.translated %}
                {% set pageIndex = loop.index0 | paginationPageForIndex(10) %}
                <li>
                    <a href="{{song.url}}">{{ song.data.name }}</a> by {{song.data.author}}
                </li>
             {% endif %}
        {% endfor %}
       
    </ol>
</details>

{% github %}